<div class="searchbar">
  <div class="searchbar-input-container">
    <div class="searchbar-search-icon">
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>
    <!-- <input class="searchbar-input" dir="auto" placeholder="Search" type="search" autocomplete="off" autocorrect="off" spellcheck="false"> -->
    <input class="searchbar-input" placeholder="Search" type="text">
    <button class="searchbar-clear button" clear="" type="button">
      <span class="button-inner"></span>
      <div class="button-effect"></div>
    </button>
    <!-- <button class="searchbar-md-cancel disable-hover button button-md button-clear button-clear-md button-clear-md-dark" clear=""
      color="dark" ion-button="" mode="md" type="button">
      <span class="button-inner">
        <ion-icon name="md-arrow-back" role="img" class="icon icon-ios ion-md-arrow-back" aria-label="arrow back"></ion-icon>
      </span>
      <div class="button-effect"></div>
    </button>
    <div class="searchbar-search-icon"></div>
    <input class="searchbar-input" dir="auto" placeholder="Search" type="search" autocomplete="off" autocorrect="off" spellcheck="false">
    <button class="searchbar-clear-icon disable-hover button button-ios button-clear button-clear-ios" clear="" ion-button=""
      type="button">
      <span class="button-inner"></span>
      <div class="button-effect"></div>
    </button> -->
  </div>
</div>