.searchbar {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  padding: 0 8px;
  min-height: 44px;
  border-top: .55px solid transparent;
  border-bottom: .55px solid rgba(0,0,0,.05);
  background: #d4d4d4;
}

.searchbar-input-container {
  display: block;
  width: 100%;
  position: relative;
  flex-shrink: 1; 
}

.searchbar-search-icon {
  left: 9px;
  top: 8px;  
  margin-left: 0px;
  position: absolute;
  width: 14px;
  height: 14px;
  font-size: 13px;
  text-align: center;
  color: #d4d4d4;
}

.searchbar-input {
  display: block;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 0 28px;
  padding-left: 30px;
  border-radius: 4px;
  height: 30px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}

.searchbar-clear {
  margin: 0;
  padding: 0;
  display: none;
  min-height: 0;
}

.searchbar-input-container .searchbar-clear {
  right: 0;
  top: 0;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><path%20fill='rgba(0,%200,%200,%200.5)'%20d='M403.1,108.9c-81.2-81.2-212.9-81.2-294.2,0s-81.2,212.9,0,294.2c81.2,81.2,212.9,81.2,294.2,0S484.3,190.1,403.1,108.9z%20M352,340.2L340.2,352l-84.4-84.2l-84,83.8L160,339.8l84-83.8l-84-83.8l11.8-11.8l84,83.8l84.4-84.2l11.8,11.8L267.6,256L352,340.2z'/></svg>");
  background-position: center;
  position: absolute;
  width: 30px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 18px;
}