<div class="inner-container">
  <div class="card">
    <div class="card-content">
      <div class="card-header">
        <span class="header-name-label">Jimmy Hedström</span>
        <span class="header-date-label">
          <i class="fa fa-clock-o" aria-hidden="true"></i> 13:37</span>
      </div>
      <div class="card-body">
        <img class="card-image" src="http://www.freepngimg.com/thumb/trollface/3-2-trollface-png-image-thumb.png" /> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt, nulla ac ornare egestas, orci erat posuere
        odio, nec fringilla nulla tortor nec ante. Nullam auctor ipsum in lectus congue vestibulum. Aliquam sed luctus tellus.
        Vivamus eu massa mauris.
      </div>
      <div class="card-footer">
        <div class="comment-input-container">
          <input class="comment-input" placeholder="Comment">
          <div class="comment-input-icon">
            <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <div class="card-header">
        Jimmy Hedström
      </div>
      <div class="card-body">
        <!-- <iframe class="card-yt" src="https://www.youtube.com/embed/aZmAV300DbA"></iframe> -->
        Haha fan va cp
      </div>
      <div class="card-footer">
        <div class="comment-input-container">
          <input class="comment-input" placeholder="Comment">
          <div class="comment-input-icon">
            <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>