<div class="card">
  <div class="card-content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt, nulla ac ornare egestas, orci erat posuere odio,
    nec fringilla nulla tortor nec ante. Nullam auctor ipsum in lectus congue vestibulum. Aliquam sed luctus tellus. Vivamus
    eu massa mauris. Sed eget quam vel metus imperdiet euismod. Duis cursus ultrices enim ut cursus. Phasellus iaculis enim
    ac placerat suscipit. Aliquam sed efficitur diam, cursus finibus ex. Sed justo nisl, scelerisque et eleifend in, congue
    sit amet est.
  </div>
</div>